var validationResult = await new [queryName]QueryValidator(ValidationService,DbContext).StdValidateAsync(request, _);
            if (validationResult.Failed()) {
                return BadRequest<[paginationStart][queryDtoName][paginationEnd]>(validationResult.Messages());
            }
        