var validationResult = await new [commandName]CommandValidator(ValidationService,DbContext).StdValidateAsync(request, _);
            if (validationResult.Failed()) {
                return BadRequest<[paginationStart][commandDtoName][paginationEnd]>(validationResult.Messages());
            }
        